{% extends 'app/base.html' %}
{% block content %}

<div class="card">
    <div class="card-body">
        <h1>Hello, {{ user.profile.name }}</h1>
        <div class="row">
            <div class="col-md-4">
                <p class="card-text">Token balance
                    <textarea class="form-control" readonly rows="1" style="resize:none">{{ user.profile.balance }}</textarea>
                </p>
            </div>
            <div class="col-md-4">
                <p class="card-text">Email
                    <textarea class="form-control" readonly rows="1" style="resize:none">{{ user.email }}</textarea>
                </p>
            </div>
            {% if user.profile.translator %}
                <div class="col-md-4">
                    <p class="card-text">Rating
                        <textarea class="form-control" readonly rows="1" style="resize:none">{{ average }}</textarea>
                    </p>
                </div>
            {% endif %}
        </div>
    </div>
</div><br>

<div class="card">
    <div class="card-header">
        <h1>My jobs</h1>
    </div>
    <div class="card-body">
        {% for job in my_jobs %}
            {% include 'includes/my_job_card.html' with job=job %}
            {% empty %}
                <p style="padding-left: 25px; color: #545454; margin-bottom: 7px">No jobs</p>
        {% endfor %}
    </div>
</div><br>

{% if user.profile.translator %}

    <div class="card">
        <div class="card-header">
            <h1>Submitted bids</h1>
        </div>
            <div class="card-body">
                {% for bid in my_bids %}
                    <div class="card">
                        <div class="card-header">
                            <h6>{{ bid.job.title }}</h6>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-9">
                                    Amount: {{ bid.price }} 
                                </div>
                                <div class="col-md-3">
                                    <a href="{% url 'accounts:delete_bid' bid.id %}" class="btn btn-danger">
                                        Delete
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div><br>
                    {% empty %}
                        <p style="padding-left: 25px; color: #545454; margin-bottom: 7px">No submitted bids</p>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <br>
        <div class="card">
            <div class="card-header">
                <h1>Assigned jobs</h1>
            </div>
                <div class="card-body">
                    {% for bid in won %}
                        {% if bid.job.status == "assigned" %}
                            {% include 'includes/job_card.html' with job=bid.job %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <br>
    <div class="card">
        <div class="card-header">
            <h1>Completed jobs</h1>
        </div>
            <div class="card-body">
                {% for bid in won %}
                    {% if bid.job.status == "completed" %}
                        {% include 'includes/job_card.html' with job=bid.job %}
                    {% endif %}
                {% empty %}
                    <p style="padding-left: 25px; color: #545454; margin-bottom: 7px">No completed jobs</p>
                {% endfor %}
            </div>
        </div>
    </div>
    
{% endif %}
{% endblock %}