{% extends 'app/base.html' %}
{% block content %}

<style>
    textarea {
        resize: none;
        background-color: white;
    }

    control[readonly]{
        background:white;
    }

    .checked {
        color: orange;
      }

</style>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h1>{{ profile_user.profile.name }}'s profile name</h1>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <p class="card-text">Token balance
                        <textarea class="form-control" readonly rows="1" style="resize:none">{{ user.profile.balance }}</textarea>
                    </p>
                </div>
                <div class="col-md-4">
                    <p class="card-text">Email
                        <textarea class="form-control" readonly rows="1" style="resize:none">{{ user.email }}</textarea>
                    </p>
                </div>
                {% if user.profile.translator %}
                    <div class="col-md-4">
                        <p class="card-text">Rating
                            <textarea class="form-control" readonly rows="1" style="resize:none">{{ average }}</textarea>
                        </p>
                    </div>
                {% endif %}
            </div>
            <br>
            {% if profile_user == visitor %}
                <div class="row">
                    <div class="col-md-6">
                        <form method="post" action="{% url 'accounts:change_email' profile_user.id %}">
                            {% csrf_token %} 
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email" required>
                            </div>
                            <input type="submit" class="btn btn-primary" value="Change email">
                        </form>
                    </div>
                    <div class="col-md-6">
                        <form method="post" action="{% url 'accounts:change_password' profile_user.id %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="exampleInputEmail1">Password</label>
                                <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter password" name="password" required>
                            </div>
                            <input type="submit" class="btn btn-primary" value="Change password">
                        </form>
                    </div>
                </div>
            {% endif %}
        </div>
    </div><br>
 
<div class="card">
    <div class="card-header">
        <h1>User's accepted jobs</h1>
    </div>
    <div class="card-body">
        {% for job in accepted_jobs %}
            {% include 'includes/job_card.html' with job=job %}
        {% empty %}
            <p style="padding-left: 25px; color: #545454; margin-bottom: 7px">No accepted jobs</p>
        {% endfor %}
    </div>
</div>
<br>
<div class="card">
    <div class="card-header">
        <h1>User's completed jobs</h1>
    </div>
    <div class="card-body">
        {% for job in completed_jobs %}
            {% include 'includes/job_card.html' with job=job %}
        {% empty %}
            <p style="padding-left: 25px; color: #545454; margin-bottom: 7px">No completed jobs</p>
        {% endfor %}
    </div>
</div><br>

{% if user.profile.translator %}
    <div class="card">
        <div class="card-header">
            <h1>My jobs</h1>
        </div>
        <div class="card-body">
            {% for job in my_jobs %}
                {% include 'includes/job_card.html' with job=job %}
                {% empty %}
                    <p style="padding-left: 25px; color: #545454; margin-bottom: 7px">No jobs</p>
            {% endfor %}
        </div>
    </div><br>

    <div class="card">
        <div class="card-header">
            <h1>Submitted bids</h1>
        </div>
            <div class="card-body">
                {% for bid in my_bids %}
                <div class="card">
                    <div class="card-header">
                        <h6>{{ bid.job.title }}</h6>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-9">
                                Amount: {{ bid.price }} 
                            </div>
                        </div>
                    </div>
                </div><br>
                {% empty %}
                    <p style="padding-left: 25px; color: #545454; margin-bottom: 7px">Submitted bids</p>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <br>
        <div class="card">
            <div class="card-header">
                <h1>Assigned jobs</h1>
            </div>
                <div class="card-body">
                    {% for bid in won %}
                        {% if bid.job.status == "assigned" %}
                            {% include 'includes/job_card.html' with job=bid.job %}
                        {% endif %}
                        {% empty %}
                            <p style="padding-left: 25px; color: #545454; margin-bottom: 7px">No assigned jobs</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header">
                <h1>Completed jobs</h1>
            </div>
            <div class="card-body">
                {% for bid in won %}
                    {% if bid.job.status == "completed" %}
                        {% include 'includes/job_card.html' with job=bid.job %}
                    {% endif %}
                {% empty %}
                    <p style="padding-left: 25px; color: #545454; margin-bottom: 7px">No completed jobs</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
   
    
{% endif %}

{% endblock content %}