{% extends 'app/base.html' %}
{% block content %}

<div class="col-md-8" style="left:15%">
<div class="card">
    <div class="card-header">
        <h1>Login</h1>
    </div>
    <div class="card-body">
        <form action="{% url 'app:custom_login' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
            </div>
            
            <input type="submit" class="btn btn-primary" value="Login">
        </form>
    </div>
</div>
</div>

{% endblock %}