{% extends 'app/base.html' %}
{% block content %}

<div class="card">
    <div class="card-header">
        <h1>Registration</h1>
    </div>
    <div class="card-body">
        <div class="col-md-12">
           <form method="post" action="{% url 'app:registration' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="exampleFormControlInput1">First name</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" name="name" required>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Last name</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" name="last_name" required>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Email address</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" name="email" required>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Password</label>
                    <input type="password" class="form-control" id="exampleFormControlInput1" name="password" required>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="translator" id="defaultCheck1" name="is_translator">
                    <label class="form-check-label" for="defaultCheck1">
                    Translator
                    </label>
                </div><br>
                <input type="submit" class="btn btn-primary" value="Register">
            </form> 
        </div>
    </div>
</div>

{% endblock content %}

