{% load static %}
<html>
  <head>
    <title>Translate-o-rama</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>
    <!--<link rel="stylesheet" href="{% static 'app/css/app.css' %}">-->
    <link rel="stylesheet" href="{% static 'app/css/translatorama.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="page-header">
      <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-normal" style="background: #f8f9fa">
        <a class="navbar-brand" href="/">Translate-o-rama</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          {% if user.is_authenticated %}
            <ul class="navbar-nav mr-auto">
                {% if user.profile.is_translator %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'app:all_jobs' %}">Jobs</a>
                    </li>
                {% endif %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'app:job_form' %}">Post a Job</a>
                    </li>
            </ul>
          {% endif %}

          <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'app:messenger' %}">Messenger</a>
                </li>
                {% if user.is_superuser %}
                    <li class="nav-item active">
                        <a class="nav-link" href="/admin/">Admin dashboard</a>
                    </li>
                {% endif %}
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'accounts:profile' user.id %}">Profile</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'accounts:dashboard' %}">{{user.profile.name}}</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'logout' %}" style="color: rgba(255,0,0,0.81); background: transparent;">Log out</a>
                </li>

            {% else %}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'app:custom_login' %}" style="color: rgba(31,81,231,0.82);)">Login</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'app:registration' %}">Register</a>
                </li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </div>
    
    <div class="content container" style="margin-top: 5%">
      <div class="row">
        <div class="col-md-12">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>

  </body>
</html>