{% extends 'app/base.html' %}
{% block content %}

    <h1>Dispute on {{ job.title }}</h1>
    <form method="post" action="{% url 'app:dispute' job.id%}">
        {% csrf_token %}
        <label for="reason">Reason:</label>
        <br>
        <textarea id="reason" name="reason" required></textarea>
        <br><br>
        <input type="submit" class="btn btn-danger" value="File a dispute">
    </form>

{% endblock content %}