{% extends 'app/base.html' %}
{% block content %}


<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-12 p-lg-5 mx-auto my-5">
      <h1 class="display-4 font-weight-normal">Welcom to Translate-o-rama</h1>
      <p class="lead font-weight-normal">Come and join us, share and translate a variaty of text</p>
    </div>
 </div>

{% endblock content %}