{% extends 'app/base.html' %}
{% block content %}


<div class="card">
    <div class="card-header">
        <h2>{{ job.title }}</h2>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <p class="card-text">Source language
                            <textarea class="form-control" readonly rows="1" style="resize:none">{{ job.source_lang }}</textarea>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p class="card-text">Target language 
                            <textarea class="form-control" readonly rows="1" style="resize:none">{{ job.target_lang }}</textarea>
                        </p>
                    </div>
                </div>
            </div>
        </div><br>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <p class="card-text">Field
                            <textarea class="form-control" readonly rows="1" style="resize:none">{{ job.field }}</textarea>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p class="card-text">Budget
                            <textarea class="form-control" readonly rows="1" style="resize:none">{{ job.budget }}</textarea>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Text</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="13" name="translate_text" readonly style="resize:none; background:white">{{ job.text }}</textarea>
                </div>
            </div>
            <div class="col-md-6">
                {% if visitor == translator.user and job.status != "completed" and job.translation == "" %}
                    <form method="post" action="{% url 'app:translate' job.id %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Translation</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="13" name="translate_text" style="resize:none;" required>{{ job.translation }}</textarea>
                        </div>
                        <input type="submit" value="Translate" class="btn btn-primary">
                    </form>
                {% else %}
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Translation</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="13" name="translate_text" readonly style="resize:none; background:white">{{ job.translation }}</textarea>
                    </div>
                {% endif %}
                
            </div>
        </div>
        
            <a class="btn btn-primary" href="{% url 'app:job_messenger' job.id %}">
                Messages
            </a>
            {% if job.status == "completed"%}
                <a href="{% url 'app:dispute' job.id %}" class="btn btn-danger">Dispute</a>
            {% endif %}
    </div>
</div>



{% endblock %}