{% extends 'app/base.html' %}
{% block content %}

<!--
<div class="row">
    <div class="col-md-12">
        <div class="col-md-4"></div>
        <div class="col-md-8">
            {% include 'includes/messenger-card.html' with messages=messages %}
        </div>
    </div>
</div>-->

<style>
    .bubble {
         border-radius: 1em;
         padding: 0.25em 0.75em;
         margin: 0.0625em;
         with: 100px;
         word-wrap: break-word;
     }
     
     .bubble.sender {
         align-self: flex-start;
         background-color: cornflowerblue;
         color: #fff;
     }
 
     .bubble.recipient {
         align-self: flex-end;
         background-color: #efefef;
     }
     
     small{
         padding-left:10px;
     }
 
     p{
         padding: 5px;
     }
 
     .bubble.sender{
         text-align:left;
         width: fit-content;
     }
 
     .bubble.recipient {
         width: fit-content;
     }
 
     .smth{
         float: right;
     }

     #messenger{
        margin-left: auto;
        top:10%;
     }

     .card-footer{
        vertical-align:middle;
     }

     form{
        margin-bottom: 0;
     }
 </style>

<div class="card">
    <div class="card-header">
        <h2>Messenger</h2>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body" style="overflow-y:auto; max-height:558px; height:558px; ">
                        {% if user.translator %}
                            {% for job in my_jobs %}
                                <div class="card">
                                    <div class="card-header">
                                        <a href="{% url 'app:job_messenger' job.id %}">
                                            <h6>{{ job.title }}<h6>
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <p>
                                            {{ job.description }}
                                        </p>
                                    </div>
                                </div><br>
                            {% endfor %}
                            {% for bid in assigned_jobs %}
                                <div class="card">
                                    <div class="card-header">
                                        <a href="{% url 'app:job_messenger' bid.job.id %}">
                                            <h6>{{ bid.job.title }}<h6>
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <p>
                                            {{ bid.job.description }}
                                        </p>
                                    </div>
                                </div><br>
                            {% endfor %}
                            {% if my_jobs.count == 0 and assigned_jobs.count == 0 %}
                                {% for message in my_messages %}
                                    <div class="card">
                                        <div class="card-header">
                                            <a href="{% url 'app:job_messenger' message.job.id %}">
                                                <h6>{{ message.job.title }}<h6>
                                            </a>
                                        </div>
                                        <div class="card-body">
                                            <p>
                                                {{ message.job.description }}
                                            </p>
                                        </div>
                                    </div><br>
                                {% endfor %}
                            {% endif %}
                        {% else %}
                            {% for job in my_jobs %}
                                <div class="card">
                                    <div class="card-header">
                                        <a href="{% url 'app:job_messenger' job.id %}">
                                            <h6>{{ job.title }}<h6>
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <p>
                                            {{ job.description }}
                                        </p>
                                    </div>
                                </div><br>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body" >
                        {% include 'includes/messenger-card.html' with messages=messages %}
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}