{% extends 'app/base.html' %}
{% block content %}

{% for job in jobs %}

<div class="card">
  <div class="card-header">{{ job.title }}</div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        <p class="card-text">Source language
          <textarea class="form-control" readonly rows="1" style="resize:none">{{ job.source_lang }}</textarea>
        </p><br>
        <p class="card-text">Target language 
          <textarea class="form-control" readonly rows="1" style="resize:none">{{ job.target_lang }}</textarea>
        </p>
      </div>
      <div class="col-md-4">
        <p class="card-text">Field
          <textarea class="form-control" readonly rows="1" style="resize:none">{{ job.field }}</textarea></p><br>
        <p class="card-text">Budget
          <textarea class="form-control" readonly rows="1" style="resize:none">{{ job.budget }}</textarea></p>
      </div>
      <div class="col-md-4">
        <form method="POST" action="{% url 'app:bid' job.id %}">
          {% csrf_token %}
          <div class="form-group">
            <label for="exampleFormControlInput1">Amount</label>
            <input type="number" step="0.50" class="form-control" id="exampleFormControlInput1" placeholder="0.00" name="price">
          </div>
          <input type="submit" value="Bid" class="btn btn-primary">
        </form>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-8">
        <p class="card-text">
          Description
          <textarea class="form-control" readonly rows="1" style="resize:none">{{ job.description }}</textarea>
        </p><br>
        <p>
          Text
          <textarea class="form-control" readonly>{{ job.text }}</textarea>
        </p>
      </div>
      <div class="col-md-4">
        <a class="btn btn-primary" href="{% url 'app:job_messenger' job.id %}">
          Message author
        </a>
      </div>
    </div>
    
  </div>
</div><br>

{% endfor %}
{% endblock %}