{% extends 'app/base.html' %}
{% block content %}

<div class="card">
    <div class="card-header">
        <h2>Messenger</h2>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body" style="overflow-y:auto; max-height:558px; height:558px; ">
                        {% if user.translator %}
                            {% for job in my_jobs %}
                                <div class="card">
                                    <div class="card-header">
                                        <a href="{% url 'app:job_messenger' job.id %}">
                                            <h6>{{ job.title }}<h6>
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <p>
                                            {{ job.description }}
                                        </p>
                                    </div>
                                </div><br>
                            {% endfor %}
                            {% for bid in assigned_jobs %}
                                <div class="card">
                                    <div class="card-header">
                                        <a href="{% url 'app:job_messenger' bid.job.id %}">
                                            <h6>{{ bid.job.title }}<h6>
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <p>
                                            {{ bid.job.description }}
                                        </p>
                                    </div>
                                </div><br>
                            {% endfor %}
                            {% if my_jobs.count == 0 and assigned_jobs.count == 0 %}
                                {% for message in my_messages %}
                                    <div class="card">
                                        <div class="card-header">
                                            <a href="{% url 'app:job_messenger' message.job.id %}">
                                                <h6>{{ message.job.title }}<h6>
                                            </a>
                                        </div>
                                        <div class="card-body">
                                            <p>
                                                {{ message.job.description }}
                                            </p>
                                        </div>
                                    </div><br>
                                {% endfor %}
                            {% endif %}
                        {% else %}
                            {% for job in my_jobs %}
                                <div class="card">
                                    <div class="card-header">
                                        <a href="{% url 'app:job_messenger' job.id %}">
                                            <h6>{{ job.title }}<h6>
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <p>
                                            {{ job.description }}
                                        </p>
                                    </div>
                                </div><br>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
                            <div class="col-md-12 p-lg-4 mx-auto my-5">
                              <h1 class="display-4 font-weight-normal">Welcom to TR-Messenger</h1>
                             
                            </div>
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}