{% extends 'app/base.html' %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h1>Submit new job</h1>
        </div>
        <div class="card-body">
            <form method="post" action="{% url 'app:save_job' %}">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Title</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" name="title" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Description</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" name="description" required>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Souorce language</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1" name="source_language" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Target language</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1" name="target_language" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Field</label>
                        <select class="form-control" id="exampleFormControlSelect1" name="job_field">
                            <option value="art">Art</option>
                            <option value="business">Business</option>
                            <option value="computers">Computers</option>
                            <option value="education">Education</option>
                            <option value="engineering">Engineering</option>
                            <option value="finance">Finance</option>
                            <option value="law">Law</option>
                            <option value="literature">Literature</option>
                            <option value="medicine">Medicine</option>
                            <option value="science">Science</option>
                            <option value="social">Social</option>
                            <option value="technology">Technology</option>
                        </select>
                      </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Budget</label>
                        <input type="number" class="form-control" id="exampleFormControlInput1" name="budget" step="0.5" required>
                    </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Text</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="13" name="translate_text" style="resize:none" required></textarea>
                        </div>
                        <input type="submit" value="Post job" class="btn btn-primary">
                    </div>
                </div>
            </form>
        
        </div>
    </div>
   
{% endblock %}
