{% extends 'app/base.html' %}
{% block content %}

    <div class="card">
        <div class="card-header">
            <h2>
                {{ job.title }}
            </h2>

        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Text</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="13" name="translate_text" readonly style="resize:none; background:white">{{ job.text }}</textarea>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Translation</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="13" name="translate_text" readonly style="resize:none; background:white">{{ job.translation }}</textarea>
                    </div>
                </div>
            </div>
            {% if visitor == job.user %}
                <div class="row">
                    <div class="col-md-6">
                        <form method="post" action="{% url 'app:rate' job.id %}">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1">
                                        <label class="form-check-label" for="inlineRadio1">1</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="2">
                                        <label class="form-check-label" for="inlineRadio2">2</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="3">
                                        <label class="form-check-label" for="inlineRadio1">3</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="4">
                                        <label class="form-check-label" for="inlineRadio2">4</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="5">
                                        <label class="form-check-label" for="inlineRadio1">5</label>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="submit" value="Rate and approve" class="btn btn-primary">
                                </div>
                            </div>
                            
                        </form>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>


{% endblock %}