{% if bid.accepted %}
<style>
    #accepted_bid{
        background: green;
    }

    #accept_bid a{
        text-decoration: none;
        color:white;
    }
</style>
{% endif %}

<div class="card">
    {% if bid.accepted %}
        <div class="card-header" id="accepted_bid" >
            <a href="{% url 'accounts:profile' bid.bidder.id %}" style=" color:white;"><h6>{{ bid.bidder.profile.name }}</h6></a>
        </div>
    {% else %}
        <div class="card-header" >
            <h6>{{ bid.bidder.profile.name }}</h6>
        </div>
    {% endif %}
    <div class="card-body">
        <div class="row">
            <div class="col-md-9">
                Amount: {{ bid.price }}
            </div>
            <div class="col-md-3">
                {% if not bid.accepted %}
                    <a href="{% url 'app:accept_bid' bid_id=bid.id %}" class="btn btn-success">
                        Accept
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</div><br>