<div class="card">
    <div class="card-header">
        <a href="{% url 'app:job_detail' job.id %}">
           <h3>{{ job.title }}</h3> 
        </a>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <p class="card-text">Source language
                    <textarea class="form-control" readonly rows="1" style="resize:none">{{ job.source_lang }}</textarea>
                </p>
            </div>
            <div class="col-md-6">
                <p class="card-text">Target language 
                  <textarea class="form-control" readonly rows="1" style="resize:none">{{ job.target_lang }}</textarea>
                </p>
            </div>
        </div><br>
        <div class="row">
            <div class="col-md-6">
                <p class="card-text">Field
                    <textarea class="form-control" readonly rows="1" style="resize:none">{{ job.field }}</textarea>
                </p>
            </div>
            <div class="col-md-6">
                <p class="card-text">Budget
                <textarea class="form-control" readonly rows="1" style="resize:none">{{ job.budget }}</textarea>
                </p>
            </div>
        </div><br>
        <p class="card-text">
            Description
            <textarea class="form-control" readonly rows="1" style="resize:none">{{ job.description }}</textarea>
        </p>
        {% if job.status == "completed" %}
            <a href="{% url 'app:review' job.id %}" class="btn btn-primary">
                View translation
            </a>
        {% endif %}
    </div>
</div><br>