<style>
    .bubble {
         border-radius: 1em;
         padding: 0.25em 0.75em;
         margin: 0.0625em;
         with: 100px;
         word-wrap: break-word;
     }
     
     .bubble.sender {
         align-self: flex-start;
         background-color: cornflowerblue;
         color: #fff;
     }
 
     .bubble.recipient {
         align-self: flex-end;
         background-color: #efefef;
     }
     
     small{
         padding-left:10px;
     }
 
     p{
         padding: 5px;
     }
 
     .bubble.sender{
         text-align:left;
         width: fit-content;
     }
 
     .bubble.recipient {
         width: fit-content;
     }
 
     .smth{
         float: right;
     }

     #messenger{
        margin-left: auto;
        top:10%;
     }

     .card-footer{
        vertical-align:middle;
     }

     form{
        margin-bottom: 0;
     }
 </style>
 

        <div class="card" id="messenger">
            <div class="card-header">
                Messenger - {{ job.title }}
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12" style="overflow-y:auto; max-height:350px; height:350px; ">
                        {% for message in messages %}
                            {% if message.sender == user %}
                                <div class="row">
                                    <div class="col-md-6"></div>
                                    <div class="col-md-6" style="align-items:right">
                                        <div class="smth">
                                           <small>{{ message.sender.username }}</small>
                                            <p class="bubble sender">
                                                {{ message.text }}
                                            </p> 
                                        </div>
                                    </div>
                                </div>
                            {% elif message.reciever == job.user %}
                            <div class="row">
                                <div class="col-md-6">
                                    <small>{{ message.sender.username }}</small>
                                    <p class="bubble recipient">
                                    {{ message.text }}  
                                    </p>
                                </div>
                                <div class="col-md-6"></div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <form method="post" action="{% url 'app:send_message' job.id %}">
                    {% csrf_token %}
                        <div class="row">
                            <div class="col-md-9">
                                <div class="form-group">
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" name="message" style="resize:none" placeholder="Message" required></textarea>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <input type="submit" class="btn btn-primary" value="Send">
                            </div>
                        </div>
                </form>
            </div>
        </div>
