<div class="card">
    <div class="card-header">
        <a href="{% url 'app:job_detail' job.id %}">
            <h3>{{ job.title }}</h3>
        </a>
        
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <p class="card-text">Source language
                            <textarea class="form-control" readonly rows="1" style="resize:none">{{ job.source_lang }}</textarea>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p class="card-text">Target language 
                          <textarea class="form-control" readonly rows="1" style="resize:none">{{ job.target_lang }}</textarea>
                        </p>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-md-6">
                        <p class="card-text">Field
                            <textarea class="form-control" readonly rows="1" style="resize:none">{{ job.field }}</textarea>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p class="card-text">Budget
                          <textarea class="form-control" readonly rows="1" style="resize:none">{{ job.budget }}</textarea>
                        </p>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-md-12">
                        <p class="card-text">
                            Description
                            <textarea class="form-control" readonly rows="1" style="resize:none">{{ job.description }}</textarea>
                        </p>
                        <p>
                            Text
                            <textarea class="form-control" rows="6" readonly style="resize:none">{{ job.text }}</textarea>
                        </p>
                        <a href="{% url 'app:job_messenger' job.id %}" class="btn btn-primary">
                            View messeges
                        </a>
                     
                        <a href="{% url 'app:delete_job' job.id %}" class="btn btn-danger">
                            Delete job
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card" >
                    <div class="card-header">
                        <h4>Bids</h4>
                    </div>
                    <div class="card-body" style="overflow-y:auto; max-height:370px">
                        {% for bid in job.bid_set.all %}
                            {% if bid.bidder != user %}
                                {% include 'includes/bid_card.html' with bid=bid %}
                            {% endif %}
                        {% empty %}
                            <p style="padding-left: 25px; color: #545454; margin-bottom: 7px">No bids</p>
                        {% endfor %}
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
</div><br>

