<div class="card">
    <div class="card-header">
        <h1>Assigned jobs</h1>
    </div>
        <div class="card-body">
            {% for job in jobs %}
                <div class="card">
                    <div class="card-header">
                        <h6>{{ job.title }}</h6>
                    </div>
                    <div class="card-body">
                        <h6>{{ job.description }}</h6>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<br>