<div class="card">
    <div class="card-header">
        <h1>Submitted bids</h1>
    </div>
        <div class="card-body">
            {% for bid in bids %}
                <div class="card">
                    <div class="card-header">
                        <h6>{{ bid.job.title }}</h6>
                    </div>
                    <div class="card-body">
                        <h6>{{ bid.price }}</h6>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div><br>
    