:root{
    --bg-color: #565656;
    --canvas-color: #adadad;
    --text-color: #383838;
    --primary-color: #6089ff;
    --primary-variant-color: #c6d5ff;
    --primary-color-background: #e5edff;
    --secondary-color: #c6d5ff;

}

* {
    font-family:Arial, Helvetica, sans-serif;
}

p{
    margin-bottom: 1px;
}

body {
    padding-top: 50px;
    background-color: #868686;
    background-image: url("../images/background.jpg");
}

body div.content{
    box-shadow: 4px 3px 5px 0 rgba(52, 52, 52, 0.75);
    -webkit-box-shadow: 4px 3px 5px 0 rgba(52, 52, 52, 0.75);
    -moz-box-shadow: 4px 3px 5px 0 rgba(52, 52, 52, 0.75);
    border-radius: 5px;
    z-index: 0;
}

body div.col-md-12{
    height: max-content;
    background: #e5e5e5;
    border-radius: 5px;
    padding-bottom: 15px;
    padding-top: 15px;
}

body h1 {
    margin-bottom: 10px;
    color: #1f51e7;
}

nav {
    background-color: #a4a3a3;
    box-shadow: 3px -1px 3px 2px rgba(0,0,0,0.75);
    z-index: 1;
}



nav *{
}

.job{
    border: solid 1px var(--primary-color);
    background-color: var(--primary-variant-color);
    border-radius: 10px;
    margin-bottom: 10px;
    width: 600px;
}

.job:last-child{
    margin-bottom: 0;
}

.job h4, h3, p{
    padding-left: 10px;
}
.job h3{
    padding-top: 10px;
}

.bid {
    margin-left: 10px;
    margin-bottom: 10px;
    justify-content: center;
    background: var(--primary-color-background);
    border-radius: 5px;
    width: fit-content;
    padding-right: 10px;
    padding-left: 10px;
}

.bid#True {
    border: solid 1px #13d913;
    background: rgba(114, 224, 105, 0.76);
}

.bid *{
    justify-content: center;
    position: center;
    display: inline-block;
    padding-left: 0;
}

.bid h5{
    margin-top: 5px;
    margin-bottom: 5px;
}

/*
form{
    display: table;
}

form p{
    display: table-row;
}
form label{
    display: table-cell;
}

form input[type=text], input[type=email], input[type=password]{
    display: table-cell;
    border-top: none;
    border-left:none;
    border-right: none;
    border-bottom: solid 2px darkgray;
    border-radius: 2px;
    margin-bottom: 2px;
    margin-left: 5px;
}*/

